{% load static %}
  <div class="container">
    <div class="well header">
      <h1><a href="/">We LOVE YOU Mom / Mimi / Barb</a></h1>
      <div class="row" style="min-height: 150px;">
        <div class="col-md-6 text-center col-md-offset-3">
          <h2>We miss you so much</h2>
          <p>Please post any stories, photos, videos, or anything else you'd like to share.</p>
          <p>You can post from: Flickr, Photobucket, Twitter, Instagram, Youtube, and many many other sites. Just paste in the url for the image/video/post and submit it.</p>
          <img src="{% static 'images/person.png' %}" class="img-responsive"/>
          <h4>Why Challah and Morphine Dosing you ask? So one day while resting, mom needed to take a morphine, but she was worried about having an empty stomach...and she then asked exactly how much Challah she needed to eat in order to counteract the morphine - we collectively established that it was 2.4g of Challah to every 15mg of IR morphine. This was conducted under the strictest scientific scrutiny of course.</h4>
        </div>
      </div>
      <div class="row">
        <p class="text-center">
          <br />
          <a href="{% url 'submit' %}" class="btn btn-primary">Submit Story or Pictures</a>
        </p>
      </div>
    </div>
  </div>

